.twitter_feed {
    max-width: 39rem;
    min-width: 24rem;
}



.home__header {
    max-width: 35.9rem;
    width: 100%;
    justify-content: center;
    position: fixed;
    height: 3em;
    font-weight: bold;
    font-size: 1.2em;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
    z-index: 99;
    border-right: 1px solid rgba(0, 0, 0, .075)
}


.header__content {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .8em;
    filter: none;
}


@media screen and (max-width: 1350px) {
    .twitter_feed {
        margin-left: 10em;
    }
}

@media screen and (max-width:993px) {
    .twitter_feed {
        margin-left: 4em;
    }
}


@media screen and (max-width: 710px) {
    .home__header {
        display: none;
    }
}