.profile-nav__container {
    width: 100%;
    justify-content: center;
}

.profile-nav__list {
    margin: 0;
    padding: 0;
    justify-content: center;
}

.option-item {
    padding: 1em 0em;
    width: 33.33333%;
    display: inline-block;
    text-align: center;
    transition: all 300ms;
    font-size: 1.25em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    transition: all 200ms;
}

.option-item:hover {
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.focused {
    color: black;
    font-weight: 650;
}

ol {
    padding: 0;
}

@media screen and (max-width: 684px) {
    .option-item {
        font-size: 1.2em;
    }

    .profile-nav__container {
        width: 80%;
    }
}