.infobar__outer {
    justify-content: left;
    right: 10em;
}

.infobar__inner {
    position: fixed;
}

.widget__outer {
    margin-left: 2em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    position: relative;
    top: 2em;
    width: 25rem
    
}

.widget__header {
    min-height: 50px;
}

.widget__title {
    position: relative;
    left: 10px;
    top: 10px;
    font-weight: bold;
}

.widget__footer {
    min-height: 50px;
}

.widget__footer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04)
}

.widget__footer__content {
    color: 	#1DA1F2;
    position: relative;
    left: 10px;
    top: 10px;
}

@media screen and (max-width: 962px) {
    .infobar__outer {
        display: none;
    }
}