.header {
    text-align: center;
}

.home-container {
    display: grid;
    grid-template-columns: 13rem 36rem 15rem;
    overflow: visible;
    margin-left: 13%;
}

@media screen and (max-width: 1313px) {
    .home-container {
        margin-left: 8%;
        grid-template-columns: 15% 36rem;
    }
}

@media screen and (max-width:1100px) {
    .home-container {
        margin: 0%;
    }
}

@media screen and (max-width: 1350px) {
    .home-container {
        display: block;
        margin-left: 6%;
        top: 100px;
    }
}

@media screen and (max-width: 993px) {
    .home-container {
        margin: 0%;
    }
}

@media screen and (max-width:600px) {
    /* .home-container {
        display: grid;
        grid-template-columns: 1% 1fr
    } */
    .home-container {
        width: 100%;
    }
}




